/*h2 {
    color: green;
}

h3 {
    color:aquamarine;
}

p {
    color:purple;
}  */


/** esto es un comentario en css*/
/* *cuando escribimos por ejemplo h2 ese es un selector
* que apunta a un tipod e elemento.
* - selectores basicos:
De tipo
De clase
De ID
Universal *{color: purple}
Atributo
*/


/*


! selector de clase para una lista NO  ordenada

ul {
    color:chocolate
}

para una lista ordenada*

ol {
    color: chocolate
}


*/
/* ! Reutilizar un estilo en varias etiquetas
.lista-gatos {
    color:chocolate;
}
*/

/*! Cambiar el tamaño de las letras o de los titulos.
h1{
    font-size: 80px;
}
h2 {
    font-size: 25px;
}
*/

/*! diferentes selectores mismo atributo el tamaño de la letra
p,
ul,
ol {
    font-size: 20px;
}
*/

/*

li {
    color: brown;
    font-size: 20px;
    font-family: Verdana;
}
*/

/*! Ahora con google fonts

h1 {
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
}
*/

/*! Tamaño de las imagenes 
img {
    width: 150px;
}
*/
/*
.imgato {
    width: 300px;
    border-width: 5px;
    border-color: red;
    border-style: ridge dotted;
}*/

/* !  creamos una propiedad para redondear las esquinas*/
/*
.bordes-redondeados {
    border-radius: 20%;
}
*/
/*
div {
    background-color: blueviolet;
}

.lista-contenedor {
    background-color: blueviolet;
}
*/


/*! identificador ID*/

#listaG {
    font-size: 25px;
    color:greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#gatosjpg {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

#amanlist {
    font-size: 15px;
    color: darkcyan;
}

#odianlist {
    font-size: smaller;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/** etiqueta body pa ver si esta*/

body {
    background-color: aqua;
    color:blueviolet
}