/*h2 {
    color: green;
}

h3 {
    color:aquamarine;
}

p {
    color:purple;
}  */


/* esto es un comentario en css*/
/*cuando escribimos por ejemplo h2 ese es un selector
que apunta a un tipod e elemento.
- selectores basicos:
De tipo
De clase
De ID
Universal *{color: purple}
Atributo
*/


/*


selector de clase para una lista NO  ordenada

ul {
    color:chocolate
}

para una lista ordenada*

ol {
    color: chocolate
}


*/
/* reutilizar un estilo en varias etiquetas*/
.lista-gatos {
    color:chocolate;
}


