h2 {
    color: green;
}

h3 {
    color:aquamarine;
}

p {
    color:purple;
}
/* esto es un comentario en css*/
/*cuando escribimos por ejemplo h2 ese es un selector
que apunta a un tipod e elemento.
*/